<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avo shopper</title>
    <link rel="stylesheet" href="style.css">

<script src="client.js"></script>
</head>
<body>
    <div class="container">
        <img src="/public/avo4.jpg">
<div>
    <form action="/allDeals" method="get"> <button type="submit"> Available deals</button>
   
    </form>
            <form action="createDeal" method="post">

        <div>
                <div class="errorMessage"><p>{{messages.error}}</p>
                </div>
                <div class="success">
{{messages.success}}
                </div>

            <h2>Add new avo deals for shops</h3>
            <label for="">Select a shop</label>
            <select name="shop"  >
                <option value="">choose a shop</option>
                {{#each listshops}}
                <option value="{{id}}">{{this.name}}</option>
             {{/each}}
            </select>
            <h4>Create a new deal with price and quantity</h4>
            <div>       <label for="">Price </label>
            <input type="text" name="price" value='{{price}}' size="10" id=""></div>
     <div><label for="">Qty</label>
            <input type="text" name="qty" value='{{qty}}' size="10" id=""></div>
            
            <button type="submit">Save</button>
            </form>
            <div style="padding: 10px;">
            <a href="/listshops"> View all the shops</a>
                
            </div>
            
            <div style="padding: 10px;">
            <a href="/">Home</a>

            </div>
         
        </div>
    </div>
    </div>
    
</body>
</html>